** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/*@font-face {
    font-family: 'Roboto Mono', monospace, sans-serif;
    src: href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap";
}*/

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.section {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;

    .logo {
        height: 60px;
        width: auto;
    }

}


.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;

}

li {
    .li1 {
        font-size: 30px;
        color: white;
        display: inline-block;
        text-decoration: none;

    }

    .cambioColor {
        color: white;
    }

    .cambioColor:hover {
        color: rgb(189, 116, 8);
    }
}







/*.pagina {
    font-size: 30px;
    text-decoration: none;
    color: white;
    display: inline-block;
}*/